<div class = "Main base">
<div class = "ContensTitle">
 <h1>HestMaincontens</h1>
</div>

<div class = "Main_Area">


<div class = "title_ber">
  <h1>Today's calory<h1>
</div>
 <div class ="Dash_bord">
   <div class = "Result_cal">
   <h2>Mission : <%= "#{@Mission_calory}" %> kcal</h2>
   </div>
   
   <div class = "Result_cal">
   <h2>Result : <%= "#{@Total_calory}" %> kcal</h2>
   </div>

   <div class = "Result_cal">
   <h2>Residue : <%= "#{@Difference_calory}" %> kcal</h2>
   </div>

   
 </div>
 <div class ="veiw_ber">
  <%= form_tag({ :controller => 'calories', :action => 'add_rec' },{ :method => :get}) do %>
  <input type="submit" value="Add Items" class = "addbtn contens_btn">
  <% end %> 

</div>

<div class = "veiw">
    <% @calories.each do| calory | %>
        <div class = "Contains">
          <div class = "item col_item">
            <%= "#{calory.item}" %>
          </div>
          <div class = "cal col_item">
          <%= "・・　#{calory.cal} kcal" %>
          </div>
          <div class = "delete col_item">          
          <%= form_tag({:controller => 'calories', :action => 'delete_rec' },{ :method => :post}) do %>
            <input type="hidden" name="id" value= <% calory.id %>>
              <%= "#{calory.id}"%> 
            <input type="submit" value="送信" class ="contens_btn delete_btn">
          <%end%>
          </div>
        </div>
    <%end%>



</div>

</div>

</div>