<!DOCTYPE html>
<html>
  <head>
    <title>HealthController</title>
    <meta http-equiv="Content-Language" content="ja">
    <meta name="google" content="notranslate">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class = "header">
   <div class = "header_Title">
     <h1>HealthController</h1>
   </div>
   <div class = "link_area">
    
    <% if session[:user_id] %>

     <div class = "link_btn">
     <%= form_tag({:controller => 'user', :action => 'logout' },{ :method => :post}) do %>
      <input type="submit" value="Logout" class = "link_cont">
     <% end %>
      </div>

    <div class = "link_btn">
     <%= form_tag({:controller => 'home', :action => 'Main' },{ :method => :get}) do %>
      <input type="submit" value="MainPage" class = "link_cont">
     <% end %>
    </div>

    <div class = "link_btn">
      <%= form_tag({:controller => 'edit_data', :action => 'Add_Cal' },{ :method => :get}) do %>
      <input type="submit" value="CaloryInput" class = "link_cont">
     <% end %>

    </div>

    <div class = "link_btn">
      <%= form_tag({:controller => 'edit_data', :action => 'Edit_Preset' },{ :method => :get}) do %>
      <input type="submit" value="PresetEdit" class = "link_cont">
     <% end %>

    </div>


    <% else %>
        <div class = "link_btn">
              <%= form_tag({:controller => 'home', :action => 'Login'},{:method => :get}) do %>
      <input type="submit" value="Login" class = "link_cont">
     <% end %>

        </div>
         <div class = "link_btn">
         <%= form_tag({:controller => 'user', :action => 'Create' },{ :method => :get}) do %>
      <input type="submit" value="UserCreate" class = "link_cont">
     <% end %>


        </div>
    <% end %>
   
   </div>  
   </div>
    <% if flash[:notice] %>
     <div class = "flashBer">
      <%= flash[:notice] %>
      </div>
    <%end%>
 

  <div class = "content_area">
 
    <%= yield %>
  </div>

   
   
   <div class = "footer">
     <p>Make By K-Komei</p>
   </div>

  </body>

</html>
