<!DOCTYPE html>
<html>
  <head>
    <title>HealthController</title>
    <meta http-equiv="Content-Language" content="ja">
    <meta name="google" content="notranslate">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class = "header">
   <div class = "header_Title">
     <h1>HealthController</h1>
   </div>
   <div class = "link_area">
    <div class = "link_btn">
      <%= link_to("Login","/")%>
    </div>
    <div class = "link_btn">
      <%= link_to("Main","/home/Main") %>
    </div>
    <div class = "link_btn">
      <%= link_to("Add","/edit_data/Add_Cal") %>
    </div>
   
   </div>  
   </div>
    <% if flash[:notice] %>
     <div class = "flashBer">
      <%= flash[:notice] %>
      </div>
    <%end%>
 

  <div class = "content_area">
 
    <%= yield %>
  </div>

   
   
   <div class = "footer">
     <p>Make By K-Komei</p>
   </div>

  </body>

</html>
